<footer>
  <div class="container p-0">
    <div class="row">
      <div class="col-md-4">
        <h1><img src="resources/img/a.png" class="" alt="..." style="width: 60px;"></h1>
        <p>Venda e troca de celulares</p>
        <div id="social">
          <a href="#" class="footer-link"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" class="footer-link"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#" class="footer-link"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <ul>
          <li><h3>Test</h3></li>
          <li>
            <a href="">Teste</a>
          </li>
          <li>
            <a href="">Teste</a>
          </li>
          <li>
            <a href="">Teste</a>
          </li>
          <li>
            <a href="">Teste</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><h3>Test</h3></li>
          <li>
            <a href="">Teste</a>
          </li>
          <li>
            <a href="">Teste</a>
          </li>
          <li>
            <a href="">Teste</a>
          </li>
          <li>
            <a href="">Teste</a>
          </li>
        </ul>
      </div>
      <!-- <div id="contatos">
        
        <div id="list">
          <ul>
            <li><h3>Test</h3></li>
            <li>
              <a href="">Teste</a>
            </li>
            <li>
              <a href="">Teste</a>
            </li>
            <li>
              <a href="">Teste</a>
            </li>
            <li>
              <a href="">Teste</a>
            </li>
          </ul>
        </div>
        <div id="list">
          <ul>
            <li><h3>Test</h3></li>
            <li>
              <a href="">Teste</a>
            </li>
            <li>
              <a href="">Teste</a>
            </li>
            <li>
              <a href="">Teste</a>
            </li>
            <li>
              <a href="">Teste</a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
    <p class="text-center mt-4">© 2024 All rights reserved.</p>
  </div>
</footer>