<header>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg pt-1">
      <a class="navbar-brand" href="#"> <img src="resources/img/a.png" alt="teste" style="width:80px; border-radius: 6px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks" aria-controls="navbarLinks" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarLinks">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{{URL}}">Home</a>
          <a class="nav-link" aria-current="page" href="{{URL}}/sobre">Sobre</a>
          <a class="nav-link" aria-current="page" href="{{URL}}/sobre">Produtos</a>
        </div>
      </div>
    </nav>
  </div>
</header>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img src="resources/img/a.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="resources/img/a.png" class="d-block w-100" alt="..." >
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="resources/img/a.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>