<section class="container servicos">
  <h3 class="text-center">Serviços</h3>
  <div class="row mt-5">
    <div class="col-md-4 col-sm-12">
      <div class="card" style="width: 18rem;">
        <img src="resources/img/a.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Venda de aparelhos e acessorios</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card" style="width: 18rem;">
        <img src="resources/img/a.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Assistência técnica</h5>
          <p class="card-text">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="card" style="width: 18rem;">
        <img src="resources/img/a.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Troca de aparelhos</h5>
          <p class="card-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h3 class="text-center">Sobre</h3>
  <div class="row mt-5">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <img src="resources/img/a.png" class="w-100" alt="..." style="border-radius:8px">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div>
        
        <div>
          <div  class="d-flex align-items-center">
            <h2>Doc Cell </h2> <i class="fa fa-mobile ml-5" aria-hidden="true"></i>
          </div>
          <div>
            Na nossa assistência técnica, somos especializados na venda e manutenção de produtos Apple, incluindo iPhones, MacBooks, iPads e acessórios, como carregadores e relógios inteligentes. 
            Nossa equipe é composta por profissionais altamente qualificados e apaixonados pela tecnologia, prontos para oferecer um atendimento excepcional e soluções rápidas para suas necessidades.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <h3 class="text-center">Localização</h3>
  <p class="text-center">R. Odilon Santos, 42 - Rio Vermelho, Salvador - BA, 41940-350</p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.3382146570366!2d-38.48765089999999!3d-13.0141212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7160352f5d8fd6d%3A0xff1077e2c2424c67!2sR.%20Odilon%20Santos%2C%2042%20-%20Rio%20Vermelho%2C%20Salvador%20-%20BA%2C%2041940-350!5e0!3m2!1spt-BR!2sbr!4v1723245734211!5m2!1spt-BR!2sbr" width="100%" height="500" style="border:0; border-radius:8px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>